body {
    width: 100%;
    margin: 0;
    min-width: 600px;
    margin: 0;
    padding: 0;
    max-height: 300px;
    background-color: #fff;
    overflow-y: auto;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}

::-webkit-scrollbar {
	width: 6px;
}

::-webkit-scrollbar-track {
	background: #aaa;
	border-radius: 3px;
}

::-webkit-scrollbar-thumb {
	background: #555;
	border-radius: 3px;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none; 
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.subtab_cont {
    background-color: #fff;
    margin: 5px;
    margin-top: 0px;
}

.subtab_cont > h3 {
    width: 100%;
    background-color: #fff;
    margin: 0px;
    margin-bottom: 0px;
    font-size: 16px;
    padding: 11px 20px 11px 12px;
    border: none;
    border-bottom: 1px solid #ccc;
}

.cont {
    padding: 10px 6px;
}

.warn-badge {
    padding: 6px 10px;
    background-color: orange;
    border-radius: 3px;
}

.t_row_hide {
    display: none;
}

#in_edittask_due {
    border: none;
    box-sizing: border-box;
    outline: 0;
    margin-right: -10px;
    position: relative;
}

.subtab_cont {
    width: 100%;
    display: block;
    margin: 0;
}

button {
    line-height: 14px;
    padding: 0;
    border: 1px solid #ddd;
    text-align: left;
    color: #333;
    text-decoration: none;
    font-size: 14px;
    border-radius: 3px;
    margin-right: 5px;
    background-color: #eee;
    cursor: pointer;
}

button span:first-child {
    padding: 8px 10px;
    border-right: 1px solid #ddd;
    margin-right: 5px;
    display: inline-block;
    line-height: 14px;
    vertical-align: middle;
    text-align: center;
}

button span:nth-child(2) {
    padding: 6px 8px;
    text-align: center;
    display: inline-block;
    line-height: 14px;
    text-align: center;
    width: auto;
    vertical-align: middle;
}

button.danger {
    border: 1px solid #7a2a2a;
    background-color: rgb(158, 71, 71);
    color: #f1f1f1;
}

button.danger span:first-child {
    border-right: 1px solid #7a2a2a;
}

button:hover {
    opacity: 0.8;
}

.sett_btn {
    padding: 12px 16px;
    background-color: #f1f1f1;
    border-bottom: 1px solid #ccc;
    color: #111;
    cursor: pointer;
}

.sett_btn_theme {
    position: relative;
    padding: 6px 12px 3px 6px;
    background-color: #f1f1f1;
    border-bottom: 1px solid #ccc;
    color: #111;
}

.sett_btn_theme > img {
    width: 32px;
    height: 32px;
    margin-right: 16px;
}

.sett_btn_theme > span {
    position: absolute;
    top: 13px;
    display: inline-block;
}

.sett_btn>.material-icons-outlined:first-child {
    margin-right: 25px;
}

.sett_btn>.text {
    margin-top: 3px;
    display: inline-block;
}

.sett_btn:hover, .sett_btn_theme:hover, #themes_btn_goback:hover, #themes_btn_goback2:hover, #themes_btn_goback3:hover {
    opacity: 0.8;
    cursor: pointer;
}

.code_span {
    padding: 2px 6px;
    background:#eee;
    border:1px solid #ccc;
    border-radius:5px;
    display:inline-block;
    margin-top:2px;
    margin-bottom:2px;
}

.update_btn {
    padding: 12px 12px;
    position: relative;
    background-color: rgb(224, 169, 28);
    color:#111;
}

a {
    text-decoration: none;
}

.cust_theme {
    position: absolute;
    left: -42px;
    top: -4px;
    font-size: 14px;
    color: #333;
    padding: 2px 6px;
    border-radius: 100px;
    cursor: pointer;
}

.cust_theme:hover {
    background-color: #ddd;
}

#select_theme_colours {
    padding: 8px;
}

#select_theme_colours > span {
    background-color: #ddd;
    border: 1px solid #ccc;
    border-radius: 0.25em;
    padding: 8px 16px;
    margin: 3px;
    display: inline-block;
    user-select: none;
    outline: none;
    cursor: pointer;
}

#select_theme_colours > span:first-child {
    display: block;
}

#select_theme_colours > span:hover {
    opacity: 0.6;
}