body {
    width: 100%;
    margin: 0;
    min-width: 600px;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    overflow-y: auto;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}

::-webkit-scrollbar {
	width: 6px;
}

::-webkit-scrollbar-track {
	background: #aaa;
	border-radius: 3px;
}

::-webkit-scrollbar-thumb {
	background: #555;
	border-radius: 3px;
}

.searchIco {
    position: absolute;
    top: 52px;
    margin-left: 10px;
}

.material-icons, .material-icons-outlined, #info_taskUrl>a {
    display: inline-flex;
    vertical-align: top;
}
  
table {
    border-collapse: collapse;
    width: 100%;
    font-size: 14px;
}

table tr {
    border-bottom: 1px solid #ddd;
}

table td {
    padding: 10px 0px;
}

#tab_global tr td:first-child {
    width: 60px;
}

#tab_global tr td:nth-child(3) {
    padding-left: 16px;
    border-left: 1px dashed #ccc;
}

#ul_show_subjects tr:hover {
    opacity: 0.8;
    cursor: pointer;
}

#ul_show_subjects tr td:nth-child(1) {
    padding-left: 4px;
    width: 35px;
    text-align: center;
}

#ul_show_subjects tr td:nth-child(1) i {
    margin-top: 2px;
    font-size: 18px;
}

#ul_show_subjects tr td:nth-child(2) {
    white-space: nowrap;
    padding-right: 10px;
}

#ul_show_subjects tr td:nth-child(3) {
    width: 85px;
}

#ul_show_subjects tr td:nth-child(4) {
    width: 26px;
    text-align: center;
    border-left: 1px dashed #ccc;
}

#ul_show_subjects tr td:nth-child(5) {
    width: 42px;
    border-left: 1px dashed #ccc;
    text-align: center;
    padding-right: 5px;
}

#info_taskCardUrl {
    text-decoration: none;
    color: #222;
}
  
table {
    background-color: #f9f9f9 !important;
}

table tr:nth-child(even){
    background-color: #f1f1f1 !important;
}

table tr td:first-child {
    padding-left: 15px;
    padding-right: 10px;
    max-width: 200px;
}

.tab {
    float: left;
    width: 8%;
    box-sizing: border-box;
    background-color: #ddd;
    border-right: 1px solid #ccc;
    height: 361px;
    max-width: 48px;
}
  
.tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 16px 11px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
}
  
.tab button:hover {
    background-color: #eee;
}

.tab button.active {
    background-color: #ccc;
}

.tabcontent {
    float: left;
    width: 92%;
    border-left: none;
}

#subtab_subjectInfo {
    display: none;
}

#ul_subjects_info {
    background-color: #f9f9f9;
}

.info_badge {
    display: inline-block;
    padding: 10px 5px;
    border-radius: 5px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    color: #333;
    width: calc(33% - 9px);
    margin-right: 3px;
    font-size: 16px;
}

.top_badge {
    display: block;
    background-color: #eee;
    border-bottom: 1px dashed #ccc;
    color: #333;
    font-size: 16px;
    width: 100%;
}

.top_badge span {
    display: inline-block;
    padding: 10px 8px;
    line-height: 16px;
}

.top_badge>.material-icons-outlined {
    margin-top: -1px;
    cursor: pointer;
}

#subjectlist_filterbtns {
    padding: 8px;
}

.filter_btn > .material-icons-outlined {
    font-size: 14px;
    margin-top: 3px;
    margin-right: 6px;
}

.filter_btn {
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 7px;
    padding: 2px 8px;
    font-size: 14px;
    display: inline-block;
    margin-right: 5px;
}

.info_badge_cred {
    display: inline-block;
    width: calc(50% - 5px);
    border-radius: 5px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    color: #333;
    margin-right: 3px;
    font-size: 14px;
    font-size: 16px;
    margin-bottom: 5px;
}

.info_badge_title {
    font-size: 12px;
    font-weight: bold;
    color: #555;
    text-align: center;
    background-color: #eee;
    border-bottom: 1px solid #ddd;
    padding: 3px 10px;
    border-radius: 5px 5px 0px 0px;
}

.info-badge {
    padding: 6px 10px;
    background-color: #eee;
    color: #333;
}

.navbar {
    display: block;
    line-height: 16px;
}

.navbar>div, button {
    display: inline-block;
    padding: 8px 10px;
    color: #444;
    cursor: pointer;
}

.navbar>div:hover, button:hover {
    opacity: 0.6;
}

.navbar>.btn {
    display: inline-block;
    padding: 10px 12px;
    padding-right: 14px;
    text-decoration: none;
    cursor: pointer;
}

.navbar>.inp {
    width: 35%;
    display: inline-block;
    padding: 0;
}

.navbar>.inp>.material-icons-outlined {
    display: inline-block;
    font-size: 18px;
    color: #444;
    margin-top: 4px;
    margin-left: 5px;
    padding: 0;
}

.navbar>.inp>input[type=text] {
    width: 80%;
    background: none;
    border: none;
    outline: none;
    padding: 11px 12px;
    box-shadow: none;
}

#div_filter_sem {
    float: right;
    margin-right: 5px;
    padding: 0px 0px;
}

#div_filter_sem select {
    padding: 10px 10px;
    outline: none;
    border: none;
    min-width: 50px;
    background: none;
    cursor: pointer;
    color: #222;
}

.hub_btn {
    display: inline-block;
    border: 1px solid #ddd;
    color:#222;
    margin-right: 2px;
    border-radius: 3px;
}

.hub_btn > b {
    display: inline-block;
    border-right: 1px solid #ddd;
    padding: 8px 14px;
}

.hub_btn > span {
    display: inline-block;
    padding: 8px 13px;
    background-color: #eee;
}

.roadblock_section {
    display: block;
    border: 1px solid #ddd;
    color:#222;
    margin-right: 2px;
    border-radius: 3px;
    margin-bottom: 5px;
}

.roadblock_header {
    border-bottom: 1px solid #ddd;
    background-color: #eee;
}

.roadblock_content {
    display: block;
    color:#333;
    margin-right: 2px;
    border-radius: 3px;
    padding: 0px 10px;
}

.roadblock_content > p {
    padding: 8px 10px;
    border-bottom: 1px dashed #ddd;
}

.roadblock_header > b {
    display: inline-block;
    padding: 12px 14px;
}

.roadblock_header > span {
    display: block;
    padding: 8px 13px;
    float: right;
}

.roadblock_header > span > span:first-child {
    display: inline-block;
    padding: 4px 8px;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-right: 7px
}

.roadblock_header > span > span:nth-child(2) {
    display: inline-block;
    padding: 0px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.roadblock_header > span > span:nth-child(2) > span {
    display: inline-block;
    padding: 3px 6px;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.rdbl_credit_outline {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 4px 6px;
}
