body {
    width: 550px;
    margin: 0;
    padding: 0;
    max-height: 300px;
    background-color: #f1f1f1;
    overflow-y: auto;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}

.searchIco {
    position: absolute;
    margin-top: 8px;
    margin-left: 10px;
}

.homeIco {
    position: absolute;
    top: 8px;
    right: 10px;
    text-decoration: none;
    color: #000;
}

.teamsIco {
    cursor: pointer;
    position: absolute;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: 0%, 0% !important;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/c/c9/Microsoft_Office_Teams_%282018%E2%80%93present%29.svg/2203px-Microsoft_Office_Teams_%282018%E2%80%93present%29.svg.png");
    top: 10px;
    width: 20px !important;
	height: 20px !important;
    right: 72px;
}

.shiteIco {
    cursor: pointer;
    position: absolute;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: 0%, 0% !important;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/6/6a/Emoji_u1f4a9.svg/1200px-Emoji_u1f4a9.svg.png");
    top: 8px;
    width: 24px !important;
	height: 24px !important;
    right: 40px;
}

.gitIco {
    position: absolute;
    cursor: pointer;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: 0%, 0% !important;
    background-image: url("https://github.githubassets.com/assets/GitHub-Mark-ea2971cee799.png");
    top: 8px;
    width: 24px !important;
	height: 24px !important;
    right: 100px;
}

.btn_del {
    background: none;
    border: none;
    padding: 0;
    padding-left: 5px;
    margin-right: -7px;
    margin-top: -7px;
    color: #f1f1f1;
    cursor: pointer;
}

td:has(> .btn_del) {
    background-color: #B04632;
}

.material-icons, .material-icons-outlined {
    display: inline-flex;
    vertical-align: top;
}
  
#taskTable {
    border-collapse: collapse;
    width: 100%;
    font-size: 14px;
    border: 1px solid #ddd;
}

#taskTable tr {
    border-bottom: 1px solid #ddd;
}

#taskTable td {
    padding: 10px 0px;
}

#filter_input {
    background-position: 10px, 108px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: none;
    border-bottom: 1px solid #ddd;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.1);
    outline: none;
}
  
#taskTable {
    background-color: #f9f9f9 !important;
}
#taskTable tr:nth-child(even){
    background-color: #f1f1f1 !important;
}
#taskTable tr:hover {
    cursor: pointer !important;
    opacity: 0.6;
}

#taskTable tr td:first-child {
    padding-left: 15px;
    padding-right: 10px;
    max-width: 200px;
}

.isComp {
    display: none;
}

.navbar {
    display: block;
    line-height: 16px;
    padding: 5px;
}

.navbar>div, button {
    display: inline-block;
    padding: 4px 8px;
    color: #444;
    border-radius: 3px;
    border: 1px solid #ccc;
    background-color: #ddd;
    cursor: pointer;
}

.navbar>div:hover, button:hover {
    opacity: 0.6;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none; 
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#s_completed_badge {
    color: #fff;
    padding: 0px 3px;
    margin-top: 3px;
    border-radius: 5px;
    background-color: rgb(45, 54, 110);
}

#tab_addevent {
    display: none;
}

#tab_options {
    display: none;
}

#tab_addevent>form {
    padding: 4px 8px;
}

#tab_addevent input[type=text], #tab_addevent input[type=url], #tab_addevent input[type=datetime-local], 
#tab_options input[type=password], select {
    display: block;
    width: 100%;
    margin-bottom: 5px;
    padding: 8px 16px;
    outline: none;
    border: 1px solid #ccc;
}

#tab_addevent>h3, #tab_options>h3 {
    width: 100%;
    background-color: #fff;
    margin: 0px;
    font-size: 16px;
    padding: 11px 20px 11px 12px;
    border: none;
    border-bottom: 1px solid #ddd;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.1);
}

#subtab_trello>.cont>table button {
    width: 100%;
}

.subtab_cont {
    background-color: #fff;
    margin: 5px;
    margin-top: 0px;
}

.subtab_cont>h3 {
    width: 100%;
    background-color: #fff;
    margin: 0px;
    margin-bottom: 0px;
    font-size: 16px;
    padding: 11px 20px 11px 12px;
    border: none;
    border-bottom: 1px solid #ccc;
}

.cont {
    padding: 10px 6px;
}

.warn-badge {
    padding: 6px 10px;
    background-color: orange;
    border-radius: 3px;
}

.t_row_hide {
    display: none;
}