body {
    width: 100%;
    margin: 0;
    min-width: 600px;
    margin: 0;
    padding: 0;
    max-height: 300px;
    background-color: #f1f1f1;
    overflow-y: auto;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}

::-webkit-scrollbar {
	width: 6px;
}

::-webkit-scrollbar-track {
	background: #aaa;
	border-radius: 3px;
}

::-webkit-scrollbar-thumb {
	background: #555;
	border-radius: 3px;
}

.searchIco {
    position: absolute;
    top: 52px;
    margin-left: 10px;
}

.homeIco {
    position: absolute;
    top: 52px;
    right: 10px;
    text-decoration: none;
    color: #000;
}

.teamsIco {
    cursor: pointer;
    position: absolute;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: 0%, 0% !important;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/c/c9/Microsoft_Office_Teams_%282018%E2%80%93present%29.svg/2203px-Microsoft_Office_Teams_%282018%E2%80%93present%29.svg.png");
    top: 52px;
    width: 20px !important;
	height: 20px !important;
    right: 72px;
}

.shiteIco {
    cursor: pointer;
    position: absolute;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: 0%, 0% !important;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/6/6a/Emoji_u1f4a9.svg/1200px-Emoji_u1f4a9.svg.png");
    top: 52px;
    width: 24px !important;
	height: 24px !important;
    right: 40px;
}

.gitIco {
    position: absolute;
    cursor: pointer;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: 0%, 0% !important;
    background-image: url("https://github.githubassets.com/assets/GitHub-Mark-ea2971cee799.png");
    top: 52px;
    width: 24px !important;
	height: 24px !important;
    right: 100px;
}

.btn_del {
    background: none;
    border: none;
    padding: 0;
    padding-left: 5px;
    margin-right: -7px;
    margin-top: -7px;
    color: #f1f1f1;
    cursor: pointer;
}

td:has(> .btn_del) {
    background-color: #B04632;
}

.material-icons, .material-icons-outlined, #info_taskUrl>a {
    display: inline-flex;
    vertical-align: top;
}
  
#taskTable, #table_proj_event_list {
    border-collapse: collapse;
    width: 100%;
    font-size: 14px;
    background-color: #f9f9f9;
}

#taskTable tr, #table_proj_event_list tr {
    border-bottom: 1px solid #ddd;
}

#taskTable td, #table_proj_event_list td {
    padding: 10px 0px;
}

#taskTable tr:nth-child(even), #table_proj_event_list tr:nth-child(even) {
    background-color: #f1f1f1 !important;
}
#taskTable tr:hover, #table_proj_event_list tr:hover {
    cursor: pointer !important;
    opacity: 0.6;
}

#table_proj_event_list span {
    width:100%;
    display:block;
}

#taskTable tr td:first-child {
    padding-left: 15px;
    padding-right: 10px;
    max-width: 34px;
}

#table_proj_event_list tr td:first-child {
    padding-left: 15px;
}

#info_taskCardUrl {
    text-decoration: none;
    color: #222;
}

.isComp {
    display: none;
}

.navbar {
    display: block;
    line-height: 16px;
}

.navbar>div, button {
    display: inline-block;
    padding: 8px 10px;
    color: #444;
    cursor: pointer;
}

.navbar>div:hover, button:hover {
    opacity: 0.6;
}

button#s_addEvent_btn {
    margin: 5px;
    border: 1px solid rgb(35, 44, 100);
    border-radius: 3px;
    padding: 8px 14px;
    background-color: rgb(45, 54, 110);
    color: #f1f1f1;
    cursor: pointer;
}

button#s_addEvent_btn:hover {
    background-color: rgb(44, 51, 94);
}

button#s_addEvent_btn>.material-icons {
    margin-top: -2px;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none; 
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#s_completed_badge {
    color: #fff;
    padding: 0px 3px;
    margin-top: 3px;
    border-radius: 5px;
    background-color: rgb(45, 54, 110);
}

#tab_addevent {
    display: none;
}

#tab_taskdesc {
    display: none;
}

#tab_addevent input[type=text], #tab_addevent input[type=url], #tab_addevent input[type=datetime-local], select {
    display: block;
    width: 100%;
    padding: 12px 20px;
    padding-left: 30;
    outline: none;
    border: none;
    border-bottom: 1px solid #ccc;
}

#tab_addevent>h3, .s_top_task_title {
    background-color: #f9f9f9;
    margin: 0px;
    font-size: 14px;
    border: none;
    border-bottom: 1px solid #ddd;
}

#info_taskName {
    padding: 4px 8px;
    display: inline-block;
}

#subtab_trello>.cont>table button {
    width: 100%;
}

#s_canelEvent_btn, #s_canelEvent_btn3, #s_descEvent_save {
    padding: 8px;
    border-right: 1px solid #ddd;
    display: inline-block;
}

#s_canelEvent_btn:hover, #s_canelEvent_btn3:hover, #s_descEvent_save:hover {
    cursor: pointer;
    opacity: 0.8;
}

.cont {
    padding: 10px 6px;
}

.warn-badge {
    padding: 6px 10px;
    background-color: orange;
    border-radius: 3px;
}

.t_row_hide {
    display: none;
}

#in_edittask_due {
    border: none;
    box-sizing: border-box;
    outline: 0;
    margin-right: -10px;
    position: relative;
}

#in_edittask_due::-webkit-calendar-picker-indicator {
    background: transparent;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
}

#info_taskDesc {
    width: 100%;
    resize: none;
    display: block;
    padding: 8px 12px;
    min-height: 100px;
    border-radius: 3px;
    background-color: #fff;
    border: 1px solid #ccc;
    margin-top: 9px;
}

.date_calendar_e {
    cursor: pointer;
}

.date_calendar_e:hover {
    opacity: 0.6;
}

#info_taskLab>span {
    display: inline-block;
    padding: 8px 12px;
    min-width: 1px;
    border-radius: 3px;
    margin-top: 14px;
    margin-right: 5px;
    background-color: #fff;
    border: 1px solid #ddd;
    color: #fff;
    text-shadow: 1px 1px 2px #111;
}

#info_taskUrl>span {
    display: block;
    width: 100%;
    max-height: 34px;
    border-radius: 3px;
    margin-top: 8px;
    margin-right: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    color: #000;
}

#info_taskUrl>span>a {
    text-decoration: none;
    background-color: #ddd;
    color: #000;
    display: inline-block;
    line-height: 32px;
    height: 32.2px;
    border-right: 1px solid #ccc;
    width: 100px;
    cursor: pointer;
}

#info_taskUrl>span>a>span {
    font-size: 14px;
    margin-top: -1px;
    margin-left: 42px;
    position: absolute;
}

#info_taskUrl>span>a>i {
    position: absolute;
    margin-top: 4px;
    margin-left: 8px;
}

#info_taskUrl>span>input {
    color: #444;
    line-height: 30px;
    height: 32px;
    margin-top: 0px;
    padding-left: 10px;
    position: absolute;
    border: none;
    outline: none;
    width: 70%;
}

#info_taskUrl>span>a:hover {
    opacity: 0.6;
}

.date_infoEvent {
    padding: 8px 12px;
    border-radius: 3px;
    background-color: #fff;
    border: 1px solid #ccc;
}

#info_taskChecks>div {
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 3px;
    margin-top: 8px;
}

#info_taskChecks>div>h3 {
    padding: 5px 10px;
    background-color: #ddd;
    border-bottom: 1px solid #ccc;
    margin: 0;
}

#info_taskChecks>div>table {
    width: 100%;
}

#info_taskChecks>div>table td {
    padding: 8px 0px;
    border-bottom: 1px solid #ddd;
}

#info_taskChecks>div>table tr>td:first-child {
    width: 40px;
    padding-left: 6px;
}

.topbar {
    color: #222;
    background-color: #eee;
    border-bottom: 1px solid #ccc;
}

.topbar>.btn {
    display: inline-block;
    padding: 10px 12px;
    padding-right: 14px;
    text-decoration: none;
    cursor: pointer;
}

.navbar>.btn {
    display: inline-block;
    padding: 10px 12px;
    padding-right: 14px;
    text-decoration: none;
    cursor: pointer;
}

.navbar>.inp {
    width: 35%;
    display: inline-block;
    padding: 0;
}

#s_completed_icon, #s_completed_icon2 {
    font-size: 16px;
    margin-right: 5px;
}

.navbar>.inp>.material-icons-outlined {
    display: inline-block;
    font-size: 18px;
    color: #444;
    margin-top: 4px;
    margin-left: 5px;
    padding: 0;
}

.navbar>.inp>input[type=text] {
    width: 80%;
    background: none;
    border: none;
    outline: none;
    padding: 6px 12px;
}

.topbar>.btn>.material-icons-outlined, .topbar>.btn>.material-icons-round {
    margin-right: 8px;
    margin-top: -1px;
    font-size: 20px;
}

.topbar>.btn:hover {
    cursor: pointer;
    opacity: 0.7;
}

.topbar>.btn.br {
    border-right: 1px solid #ccc;
}
