body {
    width: 100%;
    margin: 0;
    min-width: 600px;
    margin: 0;
    padding: 0;
    max-height: 300px;
    background-color: #f1f1f1;
    overflow-y: auto;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}

::-webkit-scrollbar {
	width: 6px;
}

::-webkit-scrollbar-track {
	background: #aaa;
	border-radius: 3px;
}

::-webkit-scrollbar-thumb {
	background: #555;
	border-radius: 3px;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none; 
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#subtab_trello>.cont>table button {
    width: 100%;
}

#subtab_trello>.cont>table td {
    min-width: 105px;
    padding-right: 5px;
}

.subtab_cont {
    background-color: #fff;
    margin: 5px;
    margin-top: 0px;
}

.subtab_cont>h3 {
    width: 100%;
    background-color: #fff;
    margin: 0px;
    margin-bottom: 0px;
    font-size: 16px;
    padding: 11px 20px 11px 12px;
    border: none;
    border-bottom: 1px solid #ccc;
}

.cont {
    padding: 10px 6px;
}

.warn-badge {
    padding: 6px 10px;
    background-color: orange;
    border-radius: 3px;
}

.t_row_hide {
    display: none;
}

#in_edittask_due {
    border: none;
    box-sizing: border-box;
    outline: 0;
    margin-right: -10px;
    position: relative;
}

.subtab_cont {
    width: 100%;
    display: block;
    margin: 0;
}

button {
    line-height: 14px;
    padding: 0;
    border: 2px solid #bbb;
    text-align: left;
    color: #333;
    text-decoration: none;
    font-size: 14px;
    border-radius: 5px;
    margin-right: 5px;
    background-color: #ddd;
    cursor: pointer;
}

button span:first-child {
    padding: 6px 6px;
    border-right: 2px solid #bbb;
    margin-right: 5px;
    display: inline-block;
    line-height: 14px;
    vertical-align: middle;
    text-align: center;
}

button span:nth-child(2) {
    padding: 6px 3px;
    display: inline-block;
    line-height: 14px;
    text-align: center;
    width: auto;
    vertical-align: middle;
}

button.danger {
    border: 2px solid #7a2a2a;
    background-color: rgb(158, 71, 71);
    color: #f1f1f1;
}

button.danger span:first-child {
    border-right: 2px solid #7a2a2a;
}

button:hover {
    opacity: 0.9;
}