body {
    width: 100%;
    margin: 0;
    min-width: 600px;
    margin: 0;
    padding: 0;
    max-height: 300px;
    background-color: #f1f1f1;
    overflow-y: auto;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}

::-webkit-scrollbar {
	width: 6px;
}

::-webkit-scrollbar-track {
	background: #aaa;
	border-radius: 3px;
}

::-webkit-scrollbar-thumb {
	background: #555;
	border-radius: 3px;
}

.warn-badge {
    padding: 6px 10px;
    background-color: orange;
    border-radius: 3px;
}

.info-badge {
    padding: 6px 10px;
    background-color: rgb(27, 78, 136);
    color: #fff;
}

.new_tag {
    padding: 3px 6px;
    border-radius: 7px;
    background-color: rgb(45, 54, 110);
    color: #f1f1f1;
}

#shite_subject_list, #table_proj_event_list {
    border-collapse: collapse;
    width: 100%;
    font-size: 14px;
    background-color: #f9f9f9;
}

#shite_subject_list tr, #table_proj_event_list tr {
    border-bottom: 1px solid #ddd;
}

#shite_subject_list td, #table_proj_event_list td {
    padding: 10px 0px;
}

#shite_subject_list tr:nth-child(even), #table_proj_event_list tr:nth-child(even) {
    background-color: #f1f1f1 !important;
}
#shite_subject_list tr:hover, #table_proj_event_list tr:hover {
    cursor: pointer !important;
    opacity: 0.8;
}

#shite_subject_list tr td:first-child {
    padding-left: 15px;
}

.topbar {
    color: #222;
    background-color: #eee;
    border-bottom: 1px solid #ccc;
}

.topbar>.btn {
    display: inline-block;
    padding: 10px 12px;
    padding-right: 14px;
}

.topbar>.inp {
    width: 35%;
    display: inline-block;
}
.topbar>.inp2 {
    display: inline-block;
}

.topbar>.inp>.material-icons-outlined {
    display: inline-block;
    font-size: 18px;
    color: #444;
    margin-top: 4px;
    margin-left: 5px;
    padding: 0;
}

.topbar>.inp>input[type=text], .topbar>.inp2>input[type=number] {
    width: 80%;
    background: none;
    border: none;
    outline: none;
    padding: 6px 12px;
}

.topbar>.btn>.material-icons-outlined {
    margin-right: 8px;
    font-size: 18px;
}

.topbar>.btn:hover {
    cursor: pointer;
    opacity: 0.7;
}

.topbar>.btn.br {
    border-right: 1px solid #ccc;
}

.legendary_result {
    background-color: #a71ac4;
    padding: 4px 6px;
    border-radius: 5px;
    color: #f1f1f1;
}

#iframe_login_shite_frame {
    border: none;
}

.tr_test_global {
    background:#eee;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-bottom: 0px;
}

.tr_test_index {
    border-right:1px solid #ddd;
    vertical-align: middle;
    display: flex;
    align-items: center;
    text-align: center;
    grid-area: sidebar;
}

.tr_test_desc {
    padding: 12px 16px;
    vertical-align: middle;
}

.span_result_box {
    position: absolute;
    padding: 3px 6px;
    right: 36px;
    top: 3px;
    border-radius: 5px;
}

.span_copy_box {
    position: absolute;
    background-color: #ddd;
    border: 1px solid #ccc;
    cursor: pointer;
    padding: 3px 6px;
    right: 3px;
    top: 3px;
    border-radius: 5px;
    height: 22px;
}

.span_copy_box .material-icons-outlined {
    font-size: 15px;
    color: #222;
}

.span_copy_box:hover {
    opacity: 0.8;
}

#tab_shite_subject_info {
    background-color: #ddd;
    border-bottom: 1px solid #ccc;
}

#tab_shite_subject_details {
    display: inline-block;
}

#tab_shite_subject_back {
    display: block;
    width: 100%;
    cursor: pointer;
}

#tab_shite_subject_back:hover {
    opacity: 0.7;
}

#shite_details_name {
    padding: 0px 22px;
    margin-top: 10px;
    font-size: 16px;
    display: inline-block;
}

#tab_shite_subject_back .material-icons-outlined {
    border-right: 1px solid #ccc;
    padding: 10px 12px;
}

.info_badge {
    display: inline-block;
    border-radius: 5px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    color: #333;
    width: calc(25% - 6px);
    margin-right: 3px;
    font-size: 14px;
    font-size: 16px;
}

.info_badge_title {
    font-size: 12px;
    font-weight: bold;
    color: #555;
    text-align: center;
    background-color: #eee;
    border-bottom: 1px solid #ccc;
    padding: 3px 0px;
    border-radius: 5px 5px 0px 0px;
}

.info_badge_icon {
    display: inline-block;
    width: 26px;
    height: 12px;
    margin-right: 15px;
    margin-top: 5px;
    margin-left: 10px;
    border-radius: 15px;
}

#info_badge_banned_functs {
    display: none;
    border-radius: 5px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    color: #333;
    width: calc(100% - 10px);
    margin-right: 3px;
    font-size: 14px;
    font-size: 16px;
    margin-bottom: 5px;
}

#sub_info_info, #sub_info_fatal, #sub_info_minor, #sub_info_fatal {
    display: inline-block;
    margin-top: -5px;
}

a {
    color: #444;
}