body {
    width: 100%;
    margin: 0;
    min-width: 800px;
    margin: 0;
    padding: 0;
    max-height: 300px;
    background-color: #f1f1f1;
    overflow-y: auto;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}

::-webkit-scrollbar {
	width: 6px;
}

::-webkit-scrollbar-track {
	background: #aaa;
	border-radius: 3px;
}

::-webkit-scrollbar-thumb {
	background: #555;
	border-radius: 3px;
}

table {
    border-collapse: collapse;
    width: 100%;
    font-size: 14px;
    background-color: #f9f9f9 !important;
}

table tr {
    border-bottom: 1px solid #ddd;
}

table tr td {
    padding: 12px 6px;
    max-width: 282px;
}

table tr:nth-child(even){
    background-color: #f1f1f1 !important;
}

table tr td:first-child {
    padding-left: 15px;
    padding-right: 10px;
    max-width: 200px;
}

tr td span:nth-child(1) {
    width: 100%;
    display: block;
}

tr td span:nth-child(2) {
    width: 100%;
    color: #555;
    display: block;
}

#table_event_list tr:hover {
    cursor: pointer;
    opacity: 0.8;
}

.topbar {
    color: #222;
    background-color: #eee;
    border-bottom: 1px solid #ccc;
}

.topbar>.btn {
    display: inline-block;
    padding: 10px 12px;
    padding-right: 14px;
}

.topbar>.inp {
    width: 35%;
    display: inline-block;
    padding: 0;
}

.topbar>.inp>.material-icons-outlined {
    display: inline-block;
    font-size: 18px;
    color: #444;
    margin-top: 4px;
    margin-left: 5px;
    padding: 0;
}

.topbar>.inp>input[type=text] {
    width: 80%;
    background: none;
    border: none;
    outline: none;
    padding: 6px 12px;
}

.topbar>.btn>.material-icons-outlined {
    margin-right: 8px;
    font-size: 18px;
}

.topbar>.btn:hover {
    cursor: pointer;
    opacity: 0.7;
}

.topbar>.btn.br {
    border-right: 1px solid #ccc;
}

.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    color: #222;
    padding: 8px 12px;
    text-decoration: none;
    border-bottom: 1px dashed #ccc;
    display: block;
}
  
.dropdown .drop_option:hover {background-color: #ddd;}
  
.show {display: block;}

.modal-box {
    display: none;
    position: fixed;
    z-index: 10;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
  
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 10px;
    border: 1px solid #ccc;
    width: 60%;
    border-radius: 7px;
}

.modal-date-cont {
    display: block;
    width: 100%;
    margin-bottom: 45px;
}

.modal-date-cont #list_sel_days span:first-child {
    border-left: 1px solid #ddd;
}

.modal-date-cont #list_sel_days span {
    background-color: #f1f1f1;
    padding: 8px 12px;
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    width: calc(100% / 5);
    display: inline-block;
    text-align: center;
    cursor: pointer;
}

.modal-date-cont #list_sel_days span:hover {
    background-color: #ddd;
    cursor: pointer;
}

.modal-date-cont>span:hover {
    background-color: #eee;
    cursor: pointer;
}

#timeline_holder {
    width: 100%;
    position: relative;
    overflow-x: hidden;
}

.timeline_event {
    border: 1px solid #ccc;
    background-color: #e5e5e5;
    color: #333;
    padding: 2px 6px;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 3px;
    position: relative;
    z-index: 2;
    max-height: 22px;
    white-space: nowrap;
}

.timeline_subject {
    display: none;
    padding-bottom: 10px;
}

.subjectheader {
    position: relative;
    display: inline-block;
    margin-bottom: 10px;
    margin-left: 10px;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 6px 12px;
    z-index: 2;
}

.day_line {
    width: 0px;
    border-left: 1px dashed #ccc;
    cursor: pointer;
    z-index: 1;
    position: absolute;
    height: 100%;
}

#select_val_days {
    padding: 11px 6px;
    margin-right: 5px;
    cursor: pointer;
    background: none;
    outline: none;
    border: none;
}
