:root {
	--colour-main: #2d366e;
	--colour-background: #f9f9f9;
	--colour-sidebar: #eee;
	--colour-span: #ccc;
	--colour-section: #ddd;
	--colour-forms: #eee;
	--colour-borders: #ccc;
	--colour-borders2: #bbb;
	--colour-borders3: #ddd;
	--colour-text-p: #222;
	--colour-text-s: #444;
	--colour-text-w: #f1f1f1;
}

body {
	background-color: var(--colour-background) !important;
}

#sidebar {
	background-color: var(--colour-sidebar) !important;
}

#header .intra {
	background: none !important;
	background-color: var(--colour-main) !important;
	box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.25);
}

.wall {
	background-color: var(--colour-background) !important;
}

a {
    color: var(--colour-text-s) !important;
}

.item.buttons .button.export {
	background-repeat: no-repeat !important;
	background-image: url('https://github.com/material-icons/material-icons-png/blob/master/png/black/playlist_add/round.png?raw=true') !important;
    background-position: 0px, 50% !important;
}

#sidebar form {
	color: var(--colour-text-p);
}

#sidebar form.filter.course .datatree > dl dd {
    background: var(--colour-forms) !important;
}

::-webkit-scrollbar {
	width: 6px;
}

::-webkit-scrollbar-track {
	background: var(--colour-forms);
	border-radius: 3px;
}

::-webkit-scrollbar-thumb {
	background: #555;
	border-radius: 3px;
}

#sidebar .planning.miniview {
	width: 100% !important;
    margin: 0px !important;
	max-width: 260px !important;
	background-color: var(--colour-borders) !important;
	color: var(--colour-text-p) !important;
}

#sidebar .planning.miniview a {
	color: var(--colour-text-p) !important;
}

.notices .item {
	background-color: var(--colour-sidebar) !important;
	border: 1px solid var(--colour-borders) !important;
	border-radius: 3px !important;
}

.notices .item:hover {
	background-color: var(--colour-sidebar) !important;
}

.notices .html {
	background: none !important;
}

.notices .links {
	background: none !important;
	box-shadow: none !important;
}

.arrow.picture {
	display: none !important;
}

.info_articles_hidden a {
	color: var(--colour-text-s) !important;
	font-style: none !important;
}

.info_articles_hidden {
	border: none !important;
}

.notices .links span {
	color: var(--colour-text-s) !important;
	font-style: none !important;
}

.notices a {
	color: var(--colour-text-s) !important;
}

#wall #content .item .first .data {
	border: none !important;
}

#sidebar .planning.miniview table {
	margin: 0 !important;
	margin-top: 5px !important;
	width: 100% !important;
	background-color: var(--colour-section) !important;
}

#sidebar .planning.miniview table .weekend {
	background-color: var(--colour-borders) !important;
}

#sidebar .planning.miniview table td:hover {
	opacity: 0.6 !important;
}

#sidebar .planning.miniview table td {
	padding: 5px !important;
	border: 1px solid var(--colour-forms) !important;
	color: var(--colour-text-p) !important;
}

.planner .top {
    background-color: var(--colour-sidebar) !important;
    border-radius: 3px 3px 0 0 !important;
}

.top table tbody tr {
	display: none !important;
}

.planner .scroll {
    border: none !important;
    border-radius: 0 0 3px 3px !important;
}

.planner .v-header {
    color: var(--colour-text-p) !important;
    background-color: var(--colour-sidebar) !important;
    border: none !important;
}

.planner .v-header div {
    border-bottom: 2px solid var(--colour-background) !important;
}

.planner.daysview > .days .scroll .events .quarter {
    border-bottom: 1px dashed var(--colour-borders3) !important;
}

.planner.daysview > .days .scroll .events {
    border-bottom: 1px solid var(--colour-background) !important;
    border-top: 1px solid var(--colour-background) !important;
}

#sidebar .planning.miniview table th {
	padding: 5px !important;
	background-color: var(--colour-forms) !important;
	border: none !important;
}

#sidebar .planning.miniview table .today {
	background-color: var(--colour-main) !important;
	color: var(--colour-text-w) !important;
	border: none !important;
}

#sidebar>.title {
	display: none !important;
}

#wall #sidebar ul {
	margin: 0 !important;
}

#wall #sidebar li {
	margin: 0 !important;
	padding: 0 !important;
}

#wall #sidebar a:hover {
	background: none !important;
}

#wall #sidebar li a:hover {
	background-color: var(--colour-span) !important;
}

#wall #sidebar a {
	padding: 12px 16px !important;
	text-decoration: none !important;
}

#wall #sidebar li a .icon {
	padding: 0 !important;
	margin: 0 !important;
	margin-right: 16px !important;
	width: 24px !important;
	height: 24px !important;
	background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: bottom center, 50%, 50% !important;
}

#wall #sidebar .trombi {
	display: none;
}

#wall #sidebar .module a .icon {
	background-image: url('https://fonts.gstatic.com/s/i/short-term/release/materialsymbolsoutlined/dashboard/default/24px.svg') !important;
}

#wall #sidebar .mark a .icon {
	background-image: url('https://fonts.gstatic.com/s/i/short-term/release/materialsymbolsoutlined/school/default/24px.svg') !important;
}

#wall #sidebar .planning a .icon {
	background-image: url('https://fonts.gstatic.com/s/i/short-term/release/materialsymbolsoutlined/calendar_month/default/24px.svg') !important;
}

#wall #sidebar .trombi a .icon {
	background-image: url('https://fonts.gstatic.com/s/i/short-term/release/materialsymbolsoutlined/menu_book/default/24px.svg') !important;
}

#wall #sidebar .stage a .icon {
	background-image: url('https://fonts.gstatic.com/s/i/short-term/release/materialsymbolsoutlined/business_center/default/24px.svg') !important;
}

#wall #sidebar .document a .icon {
	background-image: url('https://fonts.gstatic.com/s/i/short-term/release/materialsymbolsoutlined/folder_open/default/24px.svg') !important;
}

#wall #sidebar .rzone .info span, #wall #sidebar .rzone .msg-alert {
	padding: 8px 16px !important;
	background-color: var(--colour-span);
	color: var(--colour-text-p);
	margin-bottom: 5px;
	border-radius: 3px;
}

#wall #sidebar .rzone .info > span:first-child {
	background-repeat: no-repeat !important;
    background-position: 10px, 50% !important;
	background-image: url('https://github.com/material-icons/material-icons-png/blob/master/png/black/star/round.png?raw=true') !important;
}

.rzone hr {
    display: none !important;
}

.rzone>span {
    display: none !important;
}

.understand-alerts {
	display: none !important;
}

#homeboard {
    border-bottom: none !important;
}

#homeboard section {
    background-color: var(--colour-sidebar) !important;
	color: var(--colour-text-s);
	border: 1px solid var(--colour-borders) !important;
	border-radius: 3px !important;
}

#homeboard h2 {
	margin: 0 !important;
	padding: 8px 0px 12px 18px;
	border-bottom: 1px solid var(--colour-borders) !important;
}

#homeboard section .articles {
	margin: 0px !important;
    overflow-y: auto !important;
}

#homeboard section .view_more {
    display: none;
}

#homeboard section a {
	color: var(--colour-text-s);
}

#homeboard section article {
	border: none !important;
	border-bottom: 1px solid var(--colour-borders) !important;
    background: none !important;
	margin: 0 !important;
}

.barre>span {
    background-color: #bbb !important;
}

.barre>span>span {
    background-color: var(--colour-main) !important;
}

#homeboard .final_render .projet>h2>span {
	background-repeat: no-repeat !important;
    background-position: 0%, 50% !important;
	background-image: url('https://github.com/material-icons/material-icons-png/blob/master/png/black/category/round.png?raw=true') !important;
}

#homeboard .final_render .activite>h2>span {
	background-repeat: no-repeat !important;
    background-position: 0%, 50% !important;
	background-image: url('https://github.com/material-icons/material-icons-png/blob/master/png/black/date_range/round.png?raw=true') !important;
}

#homeboard .final_render .module .articles {
	height: 613px !important;
}

#homeboard .final_render .module>h2>span {
	background-repeat: no-repeat !important;
    background-position: 0%, 50% !important;
	background-image: url('https://github.com/material-icons/material-icons-png/blob/master/png/black/view_list/round.png?raw=true') !important;
}

#homeboard .final_render .susie>h2>span {
	background-repeat: no-repeat !important;
    background-position: 0%, 50% !important;
	background-image: url('https://github.com/material-icons/material-icons-png/blob/master/png/black/record_voice_over/round.png?raw=true') !important;
}


#homeboard .final_render .note>h2>span {
	background-repeat: no-repeat !important;
    background-position: 0%, 50% !important;
	background-image: url('https://github.com/material-icons/material-icons-png/blob/master/png/black/school/round.png?raw=true') !important;
}

#language {
	display: none !important;
}

#homeboard section h2 {
    margin: 10px 0 15px 15px;
}

#homeboard section a.expend {
    background: transparent !important;
	background-repeat: no-repeat !important;
    background-position: 90%, 50% !important;
	background-image: url('https://github.com/material-icons/material-icons-png/blob/master/png/black/expand_more/round.png?raw=true') !important;
    display: inline !important;
	color: transparent !important;
}

.header-wrapper #notification {
	float: right !important;
	background: none !important;
}

.header-wrapper #notification a {
	background: none !important;
}

#notification>.pedago>a>.logo {
	background-repeat: no-repeat !important;
    background-position: 0%, 50% !important;
    background-image: url('https://github.com/material-icons/material-icons-png/blob/master/png/white/chat_bubble_outline/outline.png?raw=true') !important;
}

#notification>.message>a>.logo {
	background-repeat: no-repeat !important;
    background-position: 0%, 50% !important;
    background-image: url('https://github.com/material-icons/material-icons-png/blob/master/png/white/notifications/outline.png?raw=true') !important;
}

#notification>.news>a>.logo {
	background-repeat: no-repeat !important;
    background-position: 0%, 50% !important;
    background-image: url('https://github.com/material-icons/material-icons-png/blob/master/png/white/notifications_active/round.png?raw=true') !important;
}

#notification>.rdv>a>.logo {
	background-repeat: no-repeat !important;
    background-position: 0%, 50% !important;
    background-image: url('https://github.com/material-icons/material-icons-png/blob/master/png/white/schedule/round.png?raw=true') !important;
}

.header-wrapper>.navigation .planning>a>.icon {
	background-repeat: no-repeat !important;
    background-position: 0%, 50% !important;
    background-image: url('https://github.com/material-icons/material-icons-png/blob/master/png/white/event/round.png?raw=true') !important;
}

.header-wrapper>.navigation .module>a>.icon {
	background-repeat: no-repeat !important;
    background-position: 0%, 50% !important;
    background-image: url('https://github.com/material-icons/material-icons-png/blob/master/png/white/dashboard/round.png?raw=true') !important;
}

.header-wrapper>.navigation .user>a>.icon {
	background-repeat: no-repeat !important;
    background-position: 0%, 50% !important;
    background-image: url('https://github.com/material-icons/material-icons-png/blob/master/png/white/account_circle/round.png?raw=true') !important;
}

.header-wrapper>.navigation .e-learning>a>.icon {
	background-repeat: no-repeat !important;
    background-position: 0%, 50% !important;
    background-image: url('https://github.com/material-icons/material-icons-png/blob/master/png/white/cast_for_education/round.png?raw=true') !important;
}

.header-wrapper>.navigation .administration>a>.icon {
	background-repeat: no-repeat !important;
    background-position: 0%, 50% !important;
    background-image: url('https://github.com/material-icons/material-icons-png/blob/master/png/white/tune/round.png?raw=true') !important;
}

.header-wrapper>.navigation>table {
	height: 75px !important;
}

.header-wrapper>.navigation td>a>.icon {
	line-height: 57px !important;
}

.header-wrapper>.navigation td>a>.icon {
	display: inline-block !important;
	padding: 0 !important;
	margin: 0 !important;
	width: 24px !important;
	height: 45px !important;
}

.header-wrapper>.navigation td>a>.label {
	display: inline-block !important;
	padding: 0 !important;
	margin: 0 !important;
	margin-left: 6px !important;
	background-color: transparent !important;
	text-align: left !important;
	position: static !important;
}

.header-wrapper>.navigation {
    margin-left: 230px !important;
	max-width: 650px !important;
}

#header>.intra {
	height: 75px !important;
}

.second-column>.infos {
	background: none !important;
}


.second-column>.infos>.picture {
	background-repeat: no-repeat !important;
    background-position: 0%, 50% !important;
    background-image: url('https://github.com/material-icons/material-icons-png/blob/master/png/white/log_out/round.png?raw=true') !important;
}

.second-column>.infos>.title {
	display: none !important;
}

#breadcrumb {
	margin-top: 11px !important;
	margin-bottom: 5px !important;
	padding-left: 11px !important;
}

#breadcrumb>ul {
	width: auto !important;
	color: var(--colour-text-s) !important;
}

#breadcrumb>ul>li:first-child {
	border-left: 1px solid var(--colour-borders);
}

#breadcrumb>ul>li:last-child {
	border-right: 1px solid var(--colour-borders);
}

#breadcrumb>ul>li {
	background-color: var(--colour-sidebar) !important;
	border-top: 1px solid var(--colour-borders);
	border-bottom: 1px solid var(--colour-borders);
	border-radius: 0px !important;
	padding-right: 10px !important;
}

.sep {
	color: transparent !important;
	background-repeat: no-repeat !important;
    background-position: 0%, 50% !important;
	background-size: 16px 16px;
	width: 16px !important;
	display: inline-block !important;
    background-image: url('https://github.com/material-icons/material-icons-png/blob/master/png/black/chevron_right/round.png?raw=true') !important;
}

#breadcrumb ul li:first-child {
    background: var(--colour-sidebar) !important;
}

#breadcrumb ul li a {
    color: var(--colour-text-s) !important;
}

#breadcrumb ul li a>.icon {
    background-repeat: no-repeat !important;
    background-position: 6px, 50% !important;
	margin-right: 5px;
	background-size: 18px 18px !important;
    background-image: url('https://github.com/material-icons/material-icons-png/blob/master/png/black/home/round.png?raw=true') !important;
}

div.datagrid table tfoot {
	background-color: var(--colour-borders) !important;
	color: var(--colour-text-p) !important;
}

div.datagrid div:last-child table tfoot tr {
	background: none !important;
}

#content {
	background-color: var(--colour-background) !important;
	color: var(--colour-text-p) !important;
}

#content h1 {
	color: var(--colour-text-p) !important;
}

#project a {
	color: rgb(45, 154, 200) !important;
}

#timeline.item.message.register .timeline {
    border: 1px solid #111 !important;
    border-radius: 3px !important;
	box-shadow: none;
}

#timeline.item.message.register .timeline .time_dead {
    border: none !important;
	background: none !important;
    border-radius: 3px 0px 0px 3px !important;
	background-color: var(--colour-main) !important;
	box-shadow: none;
}

#timeline.item.message.register .timeline .wrapper-timeleft {
    border: none !important;
	background: none !important;
    border-radius: 4px !important;
	background-color: #D8D8D8 !important;
	box-shadow: none !important;
}

.end_reg {
	width: 1px !important;
	background-color: #000 !important;;
}

.date_start {
	opacity: 1 !important;
	box-shadow: none !important;
	color: var(--colour-text-p) !important;
}

.date_end {
	opacity: 1 !important;
	box-shadow: none !important;
	color: var(--colour-text-p) !important;
}

.tabulation>.tabs {
	height: 36px !important;
	line-height: 36px !important;
	font-size: 16px !important;
	padding-bottom: 6px !important;
	margin-bottom: 5px !important;
	border-bottom: 2px solid var(--colour-borders2);
}

.tabulation>.tabs>li>a>span {
	margin: 0 !important;
	padding: 0px !important;
}

ul.tabs li a span {
    height: 36px !important;
    background-position: left -50px !important;
    padding: 11px 2px 2px 12px !important;
    text-shadow: none !important;
    margin-left: 11px !important;
}

.tabulation ul.tabs li {
    float: left !important;
}

#content .bloc.tabulation {
	color: var(--colour-text-s) !important;
    box-shadow: none !important;
    background-color: transparent !important;
}

.datagrid table {
    border-spacing: 1px !important;
}

.datagrid table td {
    padding: 6px 3px !important;
}

#footer {
	background: none !important;
	background-color: var(--colour-section) !important;
	color: var(--colour-text-p) !important;
}

#footer a {
	color: var(--colour-text-p) !important;
}

ul.tabs, ul.tabs li a, ul.tabs li a span {
    background: none !important;
    display: block;
}

.notallowed {
	background-color: #d1a056 !important;
	color: var(--colour-text-p);
	text-align: left !important;
}

#tab-group {
    margin: 0 !important;
	padding: 8px 12px !important;
}

#tab-group>h2 {
    display: none;
}

#project a {
    color: var(--colour-text-b) !important;
}

.group {
	margin: 5px !important;
	padding: 8px 12px !important;
	border-radius: 3px !important;
	background: var(--colour-section) !important;
	border: 1px solid var(--colour-borders);
}

.actions>.callwithteams {
	margin: 0 !important;
}

#project #tab-group.tab li.group > .wrapper > .actions a .icon {
    display: none !important;
}

#project #tab-group.tab li.group > .wrapper > .actions a {
    display: block !important;
    width: 10px !important;
	cursor: pointer !important;
	border-radius: 3px;
    height: 26px !important;
	margin-bottom: 3px !important;
	padding: 8px 16px !important;
	line-height: 26px !important;
    background-repeat: no-repeat !important;
    background-position: 8px, 50% !important;
	background-color: var(--colour-section) !important;
	border: 1px solid var(--colour-borders);
}

#project #tab-group.tab li.group > .wrapper > .actions a:hover {
	background-color: var(--colour-borders) !important;
}

#project #tab-group.tab li.group > .wrapper > .actions > .callwithteams {
	background-image: url('https://github.com/material-icons/material-icons-png/blob/master/png/black/call/round.png?raw=true') !important;
}

#project #tab-group.tab li.group > .wrapper > .actions > .destroy {
	background-image: url('https://github.com/material-icons/material-icons-png/blob/master/png/black/delete/round.png?raw=true') !important;
}

#project #tab-group.tab li.group > .wrapper > .actions > .manage {
	background-image: url('https://github.com/material-icons/material-icons-png/blob/master/png/black/tune/round.png?raw=true') !important;
}

.groupinfo > .title {
	color: var(--colour-text-p) !important;
}

.buttons > a {
	background: none !important;
}

.buttons > a:hover {
	opacity: 0.6;
}

.buttons > a > span {
	border-radius: 3px !important;
	background: none !important;
	background-color: var(--colour-section) !important;
	background-repeat: no-repeat !important;
    background-position: 8px, 50% !important;
	padding: 5px 12px !important;
}

.buttons > a > span > .label {
	margin-left: 20px !important;
}

.buttons > a > span > .icon {
	display: none !important;
}

.buttons > .manage > span {
	background-image: url('https://github.com/material-icons/material-icons-png/blob/master/png/black/tune/round.png?raw=true') !important;
}

.buttons > .destroy > span {
	background-image: url('https://github.com/material-icons/material-icons-png/blob/master/png/black/delete/round.png?raw=true') !important;
}

.buttons > .register > span {
	background-image: url('https://github.com/material-icons/material-icons-png/blob/master/png/black/check_box/round.png?raw=true') !important;
	background-color: var(--colour-main) !important;
}

a.button.register {
	color: var(--colour-text-w) !important;
	background: none !important;
}

a.button.register > span > .icon {
	display: none !important
}

#timeline .timeline .wrapper .bulle {
	color: var(--colour-text-w) !important;
}

.button.register > span {
	color: var(--colour-text-w) !important;
	background-repeat: no-repeat !important;
    background-position: 8px, 49% !important;
	background-size: 17px 17px !important;
	font-size: 13px;
	background-image: url('https://github.com/material-icons/material-icons-png/blob/master/png/white/check_box/round.png?raw=true') !important;
	background-color: var(--colour-main) !important;
	padding: 3px 8px;
	padding-left: 20px;
	border-radius: 3px;
}

.buttons > .confirm > span {
	background-image: url('https://github.com/material-icons/material-icons-png/blob/master/png/black/check_circle/round.png?raw=true') !important;
	background-color: var(--colour-main) !important;
}

.data > .resume {
	display: none !important;
}

div.datagrid tbody {
	color: var(--colour-text-p) !important;
}

div.datagrid tbody a {
	color: var(--colour-text-p) !important;
}

div.datagrid tbody tr {
    background-color: var(--colour-forms) !important;
}

div.datagrid tbody tr:nth-child(even) {
    background-color: var(--colour-section) !important;
}

div.datagrid table thead th>div {
    border: none !important;
}

.button.teams>span {
	background-repeat: no-repeat !important;
    background-position: 8px, 0px !important;
	background-size: 18px 18px !important;
	background-image: url('https://github.com/material-icons/material-icons-png/blob/master/png/black/call/round.png?raw=true') !important;
}

#sidebar form.filter.course .button.expand-filters > span .icon {
	background-repeat: no-repeat !important;
    background-position: 8px, 50% !important;
	background-image: url('https://github.com/material-icons/material-icons-png/blob/master/png/black/sort/round.png?raw=true') !important;
}

#sidebar form.filter.course .button.expand-filters > span .label {
	color: var(--colour-text-p) !important;
}

#sidebar form.filter.course .log {
	display: none !important;
}

.navigation .switch .button {
	background: none !important;
	margin-left: 3px !important;
}

div.datagrid .overflow {
    background-color: transparent !important;
}

.navigation .switch .button > span {
    border-radius: 4px !important;
	background: none !important;
	background-color: var(--colour-sidebar) !important;
	color: var(--colour-text-p) !important;
	padding: 0px 4px !important;
	margin: 0px !important;
	background-repeat: no-repeat !important;
    background-position: 2px, 50% !important;
}

.navigation .switch .prev > span {
	background-image: url('https://github.com/material-icons/material-icons-png/blob/master/png/black/chevron_left/round.png?raw=true') !important;
}

.navigation .switch .next > span {
	background-image: url('https://github.com/material-icons/material-icons-png/blob/master/png/black/chevron_right/round.png?raw=true') !important;
}

.transparency {
	display: none !important;
}

td > .bargraph > span {
	background-color: var(--colour-main) !important;
	border-radius: 3px !important;
}

#board #content .datagrid td>span.bargraph {
	border: none !important;
	background-color: #a7a7a7 !important;
	border-radius: 3px !important;
}

.actions > .contextmenu {
	display: none !important;
}

.buttons > .decline > span {
	background-image: url('https://github.com/material-icons/material-icons-png/blob/master/png/black/cancel/round.png?raw=true') !important;
}

#tab-soutenance>h2, #tab-note>h2 {
	color: var(--colour-text-p) !important;
}

#tab-note>.listing>.data:hover, #tab-soutenance>.listing>.data:hover {
	background: var(--colour-section) !important;
}

#project #tab-group.tab li.group > .wrapper > .actions a .label {
    display: none !important;
	width: calc(100% - 30px);
	text-overflow: ellipsis;
	margin-left: 30px;
	line-height: 26px !important;
	text-align: left !important;
	height: 26px;
}

.group>.wrapper {
	border: none !important;
}

.tab>ul>li>.title {
	box-shadow: rgba(0, 0, 0, 0.25) 2px 2px 6px 0px !important;
	background: none !important;
	border: none !important;
	border-bottom: 1px solid var(--colour-borders3) !important;
	color: var(--colour-text-p) !important;
}

.links {
	border-radius: 0px !important;
	margin-left: 0px !important;
	border: 1px solid var(--colour-borders);
	box-shadow: none !important;
	background: var(--colour-section) !important;
	color: var(--colour-text-p) !important;
}

.links a {
	color: var(--colour-text-p) !important;
}

#module .tab > ul li.activite .slide .access>.item {
	box-shadow: none !important;
}

div.datagrid table thead th div div {
	background: none !important;
	color: var(--colour-text-p) !important;
	background-color: var(--colour-sidebar) !important;
}

div.datagrid {
	border: none !important;
}

#homeboard section article a.link_delete {
	display: inline-block !important;
	position: absolute !important;
	padding: 0 !important;
	margin: 0 !important;
	top: 5px !important;
	right: 5px;
	width: 20px !important;
	height: 20px !important;
    background: transparent !important;
	border-radius: 3px !important;
	background: var(--colour-sidebar) !important;
	color: var(--colour-text-p) !important;
	background-repeat: no-repeat !important;
    background-position: -2px, 50% !important;
    background-image: url('https://github.com/material-icons/material-icons-png/blob/master/png/black/close/round.png?raw=true') !important;
	color: transparent !important;
}

#header #notification .dropdown .layer {
    right: 10px !important;
}

#module .tab > ul li.activite > .title h2 a {
    color: var(--colour-text-p) !important;
	text-decoration: none !important;
}

.sub_list {
	background: var(--colour-section) !important;
	border: none !important;
	border-radius: 3px;
}

.has-registered:hover {
	background-color: var(--colour-forms) !important;
}

.slide>.eventzone a {
	color: #cccccc !important;
}

.data>.num>.buttons>span>.count {
	margin-top: 8px;
}

.data>.num>.buttons>span>a {
	padding: 6px 10px !important;
	background: none !important;
	background-color: var(--colour-main) !important;
	text-decoration: none !important;
	cursor: pointer;
}

.data>.num>.buttons>span>a:hover {
	opacity: 0.8;
}

.event:hover {
	background-color: var(--colour-forms) !important;
}

.access>.item {
	margin-left: 0px !important;
}

.access>.item>h3 {
	background-color: var(--colour-main) !important;
	border-radius: 3px 3px 0 0 !important;
}

.access>.item>.links {
	height: 70px !important;
	border-radius: 0px 0px 3px 3px !important;
}

.data>.num>.buttons>span>.register>span {
	background-repeat: no-repeat !important;
    background-position: 0px, 50% !important;
	background-size: 18px 18px !important;
    background-image: url('https://github.com/material-icons/material-icons-png/blob/master/png/black/add_circle/round.png?raw=true') !important;
}

.data>.num>.buttons>span>.register>span>.label {
	margin: 0 !important;
}

.data>.num>.buttons>span>.unregister>span {
	background-repeat: no-repeat !important;
    background-position: 0px, 50% !important;
	background-size: 18px 18px !important;
    background-image: url('https://github.com/material-icons/material-icons-png/blob/master/png/black/check/round.png?raw=true') !important;
} 

.data>.num>.buttons>span>.registered {
	background-repeat: no-repeat !important;
    background-position: 8px, 50% !important;
    background-image: url('https://github.com/material-icons/material-icons-png/blob/master/png/black/group/round.png?raw=true') !important;
}

.data>.num>.buttons>span>.register>span, .data>.num>.buttons>span>.registered>span {
	margin-left: 0 !important;
}

.data>.num>.buttons>span>.register>span>.icon, .data>.num>.buttons>span>.registered>span>.icon {
	background: none !important;
	padding-left: -15px !important;
	margin-right: 12px;
}

rect {
    fill: rgb(30, 30, 30);
    color: var(--colour-text-p);
}

.btn_add {
	position: absolute;
	top: 5px !important;
	right: 30px;
	width: 30px;
	height: 20px;
	border: none;
	border-radius: 3px !important;
	background: var(--colour-sidebar) !important;
	color: var(--colour-text-p) !important;
	background-repeat: no-repeat !important;
	background-image: url('https://github.com/material-icons/material-icons-png/blob/master/png/black/playlist_add/round.png?raw=true') !important;
    background-position: 5px, 50% !important;
}

.btn_add2 {
	width: 42px !important;
	line-height: 42px;
	height: 20px !important;
	border: none !important;
	display: inline !important;
	border-radius: 3px !important;
	padding: 13px 20px !important;
	background: var(--colour-section) !important;
	color: var(--colour-text-p) !important;
	background-repeat: no-repeat !important;
	background-image: url('https://github.com/material-icons/material-icons-png/blob/master/png/black/playlist_add/round.png?raw=true') !important;
    background-position: 8px, 50% !important;
}

.btn_add2:hover {
	opacity: 0.6;
	cursor: pointer;
}

#module .bloc.top a.registered span.icon {
    display: none !important;
}

#module .bloc.top a.registered {
    padding: 6px 12px;
	background-color: var(--colour-borders);
	border-radius: 3px;
	cursor: pointer;
	background-repeat: no-repeat !important;
	background-image: url('https://github.com/material-icons/material-icons-png/blob/master/png/black/visibility/round.png?raw=true') !important;
    background-position: 8px, 50% !important;
	background-size: 18px 18px !important;
	padding-left: 34px !important;
	margin-right: 4px !important;
}

#module .bloc.top a.registered:hover {
    opacity: 0.6;
}

.colour-indigo {
	background-color: var(--colour-main) !important;
}

.colour-red-transp {
	background-color: rgb(127 92 86) !important;
}

.nbcredits {
	padding: 6px 12px;
	background-color: var(--colour-borders);
	border-radius: 3px;
	background-repeat: no-repeat !important;
	background-image: url('https://github.com/material-icons/material-icons-png/blob/master/png/black/star/round.png?raw=true') !important;
    background-position: 8px, 50% !important;
	background-size: 18px 18px !important;
	padding-left: 34px !important;
}

#project .bloc.notallowed {
	line-height: 26px !important;
	padding: 4px 10px !important;
	margin-bottom: 0px !important;
	padding-left: 36px !important;
	border-radius: 3px !important;
	background-repeat: no-repeat !important;
	background-image: url('https://github.com/material-icons/material-icons-png/blob/master/png/black/info/outline.png?raw=true') !important;
    background-position: 8px, 50% !important;
	background-size: 18px 18px !important;
}

#module .bloc.top .item.title .code-module span, #module .bloc.top .item.title .code-instance span, #module .bloc.top .item.title .nbcredits span {
    font-style: normal !important;
    color: var(--colour-text-s) !important;
}

.rzone .item.message.pedagogic>span {
	padding: 6px 10px 6px 6px;
	background-color: var(--colour-borders);
	border-radius: 3px;
	display: block;
	margin-bottom: 3px;
}

#content .rzone .item.message.register {
	margin-top: 6px;
}

.sep.ui-active {
	color: var(--colour-text-p) !important;
	display: block !important;
}

#content .rzone .item.message.register>div {
	padding: 6px 10px 6px 6px;
	background-color: var(--colour-borders);
	border-radius: 3px;
	display: block;
	margin-top: 3px;
}

.traffic_green {
	position: absolute;
	margin-top: 5px;
	margin-left: 0px;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	margin-top: 5px;
	display: inline-block;
	background-color: rgb(88, 172, 99);
}

.traffic_orange {
	position: absolute;
	margin-top: 5px;
	margin-left: 0px;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	margin-top: 5px;
	display: inline-block;
	background-color: darkorange;
}

#module .bloc.top .rzone .item.icon.fire {
	display: none !important;
}

.rzone .nb_session>span {
	padding: 6px 12px;
	background-color: var(--colour-borders);
	border-radius: 3px;
}

.button.registerdisabled {
	margin-top: 10px !important;
	background: none !important;
}

.button.registerdisabled>span {
	background: none !important;
	background-color: #696969 !important;
	padding: 3px 12px;
	cursor: not-allowed !important;
	border-radius: 3px;
}

.button.unregister {
	background: none !important;
	color: var(--colour-text-w) !important;
}

td>.button.unregister {
	background-color: rgb(139, 84, 84) !important;
	border-radius: 3px !important;
}

td>.button.unregister:hover {
	opacity: 0.6;
}

.buttons a.unregister.button {
	background-color: rgb(139, 84, 84) !important;
	border-radius: 3px !important;
}

.button.unregister>span {
	background: none !important;
	background-color: #8b5454 !important;
	padding: 3px 12px;
	cursor: pointer !important;
	border-radius: 3px;
}

.button.unregister>span>.icon {
	display: none;
}

.button.unregister>span>.label {
	margin-left: 0 !important;
}

.user.info.box {
	border-radius: 3px !important;
	background-color: var(--colour-sidebar) !important;
	color: var(--colour-text-p) !important;
	border: 1px solid var(--colour-borders) !important;
	box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.25) !important;
}

.user.info.box .picture {
	border-radius: 3px !important;
}

.user.info.box .left {
	border-radius: 3px !important;
}

div.datagrid table tbody tr:hover {
    color: var(--colour-text-s) !important;
}

fieldset.filters.location, fieldset.filters.student, fieldset.filters.semester, fieldset.filters.perso, form.filters.instance>fieldset {
	border: none !important;
	border-top: 1px solid var(--colour-borders2) !important;
}

#sidebar .filters.instance .input input {
	padding: 6px 8px !important;
	border: 1px solid var(--colour-borders) !important;
	background-color: var(--colour-forms) !important;
	color: var(--colour-text-p) !important;
	border-radius: 3px !important;
	outline: #555;
}

#sidebar .filters.instance .submit input {
	padding: 6px 8px !important;
	border: 1px solid var(--colour-forms) !important;
	background-color: #444 !important;
	color: var(--colour-text-p) !important;
	border-radius: 3px !important;
	outline: none;
	cursor: pointer;
}

#sidebar .filters.perso .buttons.calendar .button>span {
	padding: 6px 8px !important;
	border: 1px solid var(--colour-borders) !important;
	background-color: var(--colour-forms) !important;
	color: var(--colour-text-p) !important;
	border-radius: 3px !important;
	outline: #555;
}

#sidebar .filters.perso .buttons.calendar .button > span .label {
	color: var(--colour-text-p) !important;
	margin: none !important;
}

#sidebar .filters.perso .buttons.calendar .button > span .icon {
	display: none !important;
}

.dropdown.rdv.ui-expanded>.layer, .dropdown.message.ui-expanded>.layer, #header #notification .dropdown .layer,
#header #identification.expanded .menu {
	color: var(--colour-text-p) !important;
    background: var(--colour-forms) !important;
    box-shadow: -1px 1px 2px rgba(0, 0, 0, 0.6) !important;
    border: 1px solid var(--colour-borders) !important;
}

#header #notification .dropdown .layer .item {
    border-bottom: 1px solid var(--colour-borders) !important;
}

#header #notification .dropdown .layer .item a {
    text-decoration: underline !important;
}

#header #notification .dropdown .layer .item:hover {
    background: var(--colour-forms) !important;
}

.modal.popup.custom.manage.group.ui-draggable {
	background: var(--colour-forms) !important;
	color: var(--colour-text-p) !important;
	box-shadow: -1px 1px 2px rgba(0, 0, 0, 0.6) !important;
    border: 1px solid var(--colour-borders) !important;
	padding: 0 !important;
}

.modal.popup.custom.manage.group.ui-draggable h1 {
	background: var(--colour-borders) !important;
	color: var(--colour-text-p) !important;
    border-bottom: 1px solid var(--colour-borders) !important;
}

.modal.popup.custom.manage.group.ui-draggable .data.manage.group {
	background: none !important;
	box-shadow: none !important;
	border: none !important;
}

.modal.popup.custom.manage.group.ui-draggable #managegroup-groupname {
	background: #444 !important;
	border: none !important;
	box-shadow: none !important;
	color: var(--colour-text-p) !important;
    border: 1px solid var(--colour-borders) !important;
	padding: 6px 8px !important;
	width: 95% !important;
	border-radius: 3px !important;
}

.modal.popup.custom.manage.group.ui-draggable #managegroup-addmember {
	background: #444 !important;
	border: none !important;
	box-shadow: none !important;
	color: var(--colour-text-p) !important;
    border: 1px solid var(--colour-borders) !important;
	padding: 8px 10px !important;
	width: 95% !important;
	border-radius: 3px !important;
	outline: none !important;
}

.modal.popup.custom.manage.group.ui-draggable .item.master {
	border: none !important;
	background: none !important;
}

.popup.custom .item.buttons {
	background: none !important;
	height: 40px !important;
	background: var(--colour-forms) !important;
	border-top: 1px solid var(--colour-borders) !important;
}

.warn.modal.popup > h1 {
	background-image: none !important;
	background-color: var(--colour-main) !important;
	color: var(--colour-text-w) !important;
}

.warn.modal.popup .item.button > span {
	background-image: none !important;
	background: var(--colour-borders) !important;
}

.popup.custom .item.buttons a {
	margin: 0 !important;
	margin-top: 5px !important;
}

.popup.custom .item.buttons .label {
	margin-left: 0 !important;
}

.popup.custom div.modal.close {
	background-repeat: no-repeat !important;
    background-position: 50%, 50% !important;
    background-image: url('https://github.com/material-icons/material-icons-png/blob/master/png/white/close/round.png?raw=true') !important;
}

.modal.popup.custom.manage.group.ui-draggable .wrapper {
	background: #444 !important;
	border: none !important;
	box-shadow: none !important;
	color: var(--colour-text-p) !important;
    border: 1px solid var(--colour-borders) !important;
	padding: 6px 8px !important;
	width: 95% !important;
	border-radius: 3px !important;
}

.modal.popup.custom.manage.group.ui-draggable .list {
	background: #444 !important;
	border: none !important;
	box-shadow: none !important;
	color: var(--colour-text-p) !important;
    border: 1px solid var(--colour-borders) !important;
	padding: 6px 8px !important;
	width: 95% !important;
	border-radius: 3px !important;
}

.modal.popup.custom.manage.group.ui-draggable .help {
	display: none !important;
}

a.log-out {
	padding: 6px 8px !important;
	background-color: brown !important;
	border-radius: 3px !important;
	color: var(--colour-text-p) !important;
	cursor: pointer;
}

.bloc.tabulation > .wrapper > .tabs {
	background-color: var(--colour-forms) !important;
	color: var(--colour-text-p) !important;
	border-top: 1px solid var(--colour-borders) !important;
	border-bottom: 1px solid var(--colour-borders) !important;
	
}

.bloc.tabulation > .wrapper > .tabs > li {
	cursor: pointer !important;
	border-right: 1px dashed var(--colour-borders);
}

.bloc.tabulation > .wrapper > .tabs > li > a > span {
	display: inline-block !important;
	margin-left: 0px !important;
}

.bloc.tabulation > .wrapper > .tabs > li.ui-active {
	font-weight: bold !important;
	border-right: 1px dashed var(--colour-borders) !important;
}

.bloc.tabulation > .tabs > li.ui-active > a {
	font-weight: bold !important;
	border-right: 1px dashed var(--colour-borders) !important;
}

.bloc.tabulation > .wrapper > .tabs > li:hover {
	background-color: var(--colour-sidebar) !important;
	opacity: 0.8 !important;
}

#content > #planify > .bloc.tabulation > .arrow {
	background: none !important;
	background-color: #252525 !important;
	border: 1px solid var(--colour-borders) !important;
	background-repeat: no-repeat !important;
    background-position: 50%, 50% !important;
	background-size: 22px 22px !important;
}

#content > #planify > .bloc.tabulation > .next.arrow {
	border-radius: 0px 16px 16px 0px !important;
	background-image: url('https://github.com/material-icons/material-icons-png/blob/master/png/black/chevron_right/outline.png?raw=true') !important;
}

#content > #planify > .bloc.tabulation > .prev.arrow {
	border-radius: 16px 0px 0px 16px !important;
	background-image: url('https://github.com/material-icons/material-icons-png/blob/master/png/black/chevron_left/outline.png?raw=true') !important;
}

#content > #planify > .bloc.tabulation > .arrow > .label {
	display: none !important;
}

.data > .item.title > .linked > .icon {
	display: none !important;
}

#project_title > .value > a {
	padding: 6px 6px 8px 42px !important;
	background-color: #151515 !important;
	text-decoration: none !important;
	border-radius: 5px !important;
	font-style: normal !important;
	background-repeat: no-repeat !important;
    background-position: 6px, 50% !important;
	background-size: 22px 22px !important;
	background-image: url('https://github.com/material-icons/material-icons-png/blob/master/png/black/category/round.png?raw=true') !important;
	cursor: pointer !important;
	display: inline-block !important;
	margin-bottom: 12px !important;
	margin-left: 11px !important;
}

#project_title > .value > a:hover {
	opacity: 0.7 !important;
}

.tab > ul > li > .title {
	box-shadow: none !important;
	border-bottom: 1px solid var(--colour-borders3) !important;
}

.tab > ul > li > .title:hover {
	background-color: var(--colour-forms) !important;
}

#module .tab > ul li.activite.future > .title .dates .bargraph {
	border-radius: 7px !important;
	border-color: var(--colour-main) !important;
}

#module .tab > ul li.activite > .title .dates .bargraph>.closed-on {
	background-color: var(--colour-main) !important;
}

#module .tab > ul li.activite.past > .title .dates .bargraph {
	border-radius: 7px !important;
	border-color: #777 !important;
}

#module .tab > ul li.activite.future > .title .dates .bargraph>.bar {
	border-radius: 7px !important;
	background-color: var(--colour-main) !important;
}

#module .tab > ul li.activite.past > .title .dates .bargraph>.bar {
	border-radius: 7px !important;
	background-color: #777 !important;
}

#module .tab > ul li.activite .eventzone .event:hover {
	background-color: var(--colour-background) !important;
}

#module .tab > ul li.activite .eventzone .event .item.teachers a.picture {
	border: 1px solid var(--colour-borders);
	background-color: #888 !important;
	border-radius: 50px;
	max-height: 32px !important;
}

.item img {
    border-radius: 50px !important;
	aspect-ratio: 1 / .5 !important;
}

#module .tab > ul li.activite .data .item, #content .rzone, #module .tab > ul li.activite .eventzone .event .data, #module .tab > ul li.activite .eventzone .event .data {
	border-color: var(--colour-borders3) !important;
}

#module .tab > ul li.activite .eventzone .event .item:first-child, #module .tab > ul li.activite .eventzone .event .item:first-child {
	border-color: var(--colour-borders3) !important;
}

#profil .bloc.main .data>.infos {
	background-color: var(--colour-borders) !important;
	color: var(--colour-text-p) !important;
	border: none !important;
	border-radius: 5px;
}

#info-area > .box > .details {
	background-image: none !important;
	background-color: #252525 !important;
	border-radius: 5px !important;
}

#info-area > .box > .details > .header {
	background-image: none !important;
	background-color: #151515 !important;
	border-radius: 5px 5px 0 0 !important;
	margin-bottom:15px !important;
}

#info-area .box .details .group.info {
	padding: 0 !important;
	background: none !important;
	
}

#info-area .box .details .note {
	display: block !important;
}

#profil .bloc.main .data .infos>.item {
	border-color: #555 !important;
}

#elearning #content .homeview ul li .wrapper ul {
	background-color: var(--colour-borders) !important;
	color: var(--colour-text-p) !important;
}

#elearning #content .homeview ul li.is-class .onglet .filter li.cours, #elearning #content .homeview ul li.has-class .onglet .filter li.cours, #elearning #content .homeview ul li .maxi-wrapper .separator, #elearning #content .bloc .data .mainview ul li .wrapper.expand ul, #elearning #content .homeview ul li .maxi-wrapper .wrapper.expand .separator, #elearning #content .bloc .data .mainview ul li .title {
	background: none !important;
	background-color: #151515 !important;
	color: var(--colour-text-p) !important;
}

#elearning #content .homeview ul li.has-class .onglet .filter li.tp {
	background: none !important;
	background-color: var(--colour-borders) !important;
	color: var(--colour-text-s) !important;
}

#elearning #content .bloc .data .mainview ul li .arrow .icon {
	background: none !important;
	background-color: #111 !important;
	border: 3px solid var(--colour-background);
	border-radius: 50px;
	color: var(--colour-text-s) !important;
	background-repeat: no-repeat !important;
    background-position: 50%, 50% !important;
	background-size: 16px 16px;
    background-image: url('https://github.com/material-icons/material-icons-png/blob/master/png/black/expand_more/round.png?raw=true') !important;
}

#elearning #content .bloc .data .mainview ul li a.arrow.disabled {
	display: none !important;
}

h2 {
	color: var(--colour-text-p) !important;
}

.planner.daysview > .days .scroll .events td {
    border-left: 3px solid #888 !important;
    vertical-align: top;
}

.planner.daysview > .days .scroll .events .hour {
    border-bottom: 1px solid var(--colour-borders3) !important;
}

.planner.daysview > .days .scroll .events .half {
    border-bottom: 1px dotted var(--colour-borders3) !important;
}

#sidebar > .wrapper > .button.toggle .label {
    color: var(--colour-text-s) !important;
}

.bloc.planif.ui-selected.expanded {
	background: #424242;
}

#module .tab > ul li.activite .item .info.project, #module .tab > ul li.activite .access .item.project h3 .icon {
	background: none !important;
	background-repeat: no-repeat !important;
    background-position: 40%, 50% !important;
	background-size: 14px 14px;
    background-image: url('https://github.com/material-icons/material-icons-png/blob/master/png/black/category/round.png?raw=true') !important;
}

#module .tab > ul li.activite .item .info.appointment, #module .tab > ul li.activite .access .item.rdv h3 .icon {
    background: none !important;
	background-repeat: no-repeat !important;
    background-position: 30%, 50% !important;
	background-size: 14px 14px;
    background-image: url('https://github.com/material-icons/material-icons-png/blob/master/png/black/group/round.png?raw=true') !important;
}

#module .tab > ul li.activite .item .info.notation, #module .tab > ul li.activite .access .item.note h3 .icon {
    background: none !important;
	background-repeat: no-repeat !important;
    background-position: 0%, 50% !important;
	background-size: 14px 14px;
    background-image: url('https://github.com/material-icons/material-icons-png/blob/master/png/black/school/round.png?raw=true') !important;
}

#module .tab > ul li.activite .slide .access > .item .links ul {
    margin: 0 !important;
	text-align: center;
}

#module .tab > ul li.activite .slide .access > .item .links ul a {
	margin: 5px;
	background-color: var(--colour-span);
	padding: 6px 4px;
	text-align: center;
	text-decoration: none;
}

#module .tab > ul li.activite .slide .access > .item .links ul a:hover {
	opacity: 0.7;
}

#module .tab > ul li.activite.archive > .title .link.break {
    visibility: hidden !important;
}

.tabulation > .tabs {
	background-color: var(--colour-section) !important;
	border: 1px solid var(--colour-borders) !important;
	border-radius: 3px;
	padding: 0 10px !important;
}

.tabulation>.tabs>li:first-child {
	border: none !important;
}

#sidebar form.filter.course .datatree .expanded {
	background-color: var(--colour-section) !important;
	color: var(--colour-text-w) !important;
	box-shadow: none !important;
}

#sidebar form.filter.course .datatree dt.module {
	background-color: var(--colour-forms) !important;
}

.tabulation>.tabs>li {
	border: none !important;
	border-left: 1px solid var(--colour-borders) !important;
	background: none !important;
	margin-top: 0px !important;
	margin-left: 0px !important;
	color: var(--colour-text-p) !important;
	padding: 0px 12px !important;
	padding-left: 38px !important;
	background-repeat: no-repeat !important;
    background-position: 8px, 50% !important;
    background-image: url('https://github.com/material-icons/material-icons-png/blob/master/png/black/flip_to_front/round.png?raw=true') !important;
	text-shadow: none !important;
}

#sidebar form.filter.course .datatree .notregistered .icon.registration {
	background-repeat: no-repeat !important;
    background-position: 50%, 50% !important;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z" fill="LightSalmon" /></svg>') !important;
	text-shadow: none !important;
}

#sidebar form.filter.course .datatree .ongoing .icon.registration {
	background-repeat: no-repeat !important;
    background-position: -100%, -100% !important;
    background-image: url('https://fonts.gstatic.com/s/i/materialiconsoutlined/watch_later/v6/24px.svg') !important;
	text-shadow: none !important;
}

#sidebar form.filter.course .datatree .valid .icon.registration {
	background-repeat: no-repeat !important;
    background-position: 50%, 50% !important;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8zm4.59-12.42L10 14.17l-2.59-2.58L6 13l4 4 8-8z" fill="Green" /></svg>') !important;
	text-shadow: none !important;
}

#sidebar form.filter.course .datatree .fail .icon.registration {
	background-repeat: no-repeat !important;
    background-position: 50%, 50% !important;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0V0z" fill="none" /><path d="M14.59 8L12 10.59 9.41 8 8 9.41 10.59 12 8 14.59 9.41 16 12 13.41 14.59 16 16 14.59 13.41 12 16 9.41 14.59 8zM12 2C6.47 2 2 6.47 2 12s4.47 10 10 10 10-4.47 10-10S17.53 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z" style="fill: IndianRed;" /></svg>') !important;
	text-shadow: none !important;
}